<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Email Spam Classifier</h1>
        <form action="{{ url_for('predict') }}" method="post">
            <div class="form-group">
                <label for="email_content">Enter email content:</label>
                <textarea name="email_content" id="email_content" required></textarea>
            </div>
            <button type="submit" class="btn">Classify</button>
        </form>
           </div>
</body>
</html>